.wraper{
    /* Grid */
    display: grid;
    grid-template-columns: repeat(47, 32px);
    grid-template-rows: repeat(28, 32px);
}

/* -------------------------------------------------------------------- WIDE LAYERS -------------------------------------------------------------------- */

.cabecera_ancho, .titulo_ancho, .tituloHome_ancho, .pie_ancho{
    /* Grid */
    grid-column-start: 1;
    grid-column-end: 48;
}
.cabecera_ancho{
    /* Grid */
    grid-row-start: 1;
    grid-row-end: 4;

    background-color: #ebebea;
}
.titulo_ancho{
    /* Grid */
    grid-row-start: 4;
    grid-row-end: 7;

    background-color: #c4bc2d;
    color: #fff;
}
.tituloHome_ancho{
    /* Grid */
    grid-row-start: 22;
    grid-row-end: 25;

    background-color: #c4bc2d;
    color: #fff;
}
.pie_ancho{
    /* Grid */
    grid-row-start: 25;
    grid-row-end: 29;
    background-color: #c42c5c;

    color: #fff;
}

/* -------------------------------------------------------------------- HEADER -------------------------------------------------------------------- */

.cabecera{
    /* Flexbox */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* Grid */
    grid-column-start: 1;
    grid-column-end: 48;
    grid-row-start: 1;
    grid-row-end: 4;

    background-color: #ebebea;
}

/* -------------- NAVBAR -------------- */

.menu nav{
    width: 50%;
    /* Flexbox */
    display: flex;
    align-items: center;
}
.menu nav a {
    color: #7a6666;
    font-family: lato-regular-webfont;
    font-size: 15px;
    font-weight: normal;
    line-height: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    /* Flexbox */
    flex-grow: 1;
}
.menu nav a:hover{
    color: #c8c10d;
}

/* -------------------------------------------------------------------- CONTENT -------------------------------------------------------------------- */

.contenedor{
    /* Grid */
    display: grid;
    grid-column-start: 11;
    grid-column-end: 38;
    grid-row-start: 1;
    grid-row-end: 29;
    grid-template-columns: repeat(27, 32px);
    grid-template-rows: repeat(28, 32px);
}
.titulo{
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Grid */
    grid-column-start: 1;
    grid-column-end: 48;
    grid-row-start: 4;
    grid-row-end: 7;

    background-color: #c4bc2d;
    color: #fff;
}
.titulo > div{
    color: #FFFFFF;
    font-family: lato-regular-webfont;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 28px 0 23px;
    text-align: center;
    text-transform: uppercase;
}
.tituloHome{
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Grid */
    grid-column-start: 1;
    grid-column-end: 48;
    grid-row-start: 22;
    grid-row-end: 25;

    background-color: #c4bc2d;
    color: #fff;
}

/* -------------------------------------------------------------------- FOOTER -------------------------------------------------------------------- */

.pie{
    /* Flexbox */
    display: flex;
    justify-content: center;
    /* Grid */
    grid-column-start: 1;
    grid-column-end: 48;
    grid-row-start: 25;
    grid-row-end: 29;

    background-color: #c42c5c;
    color: #fff;
}
.pie > div{
    /* Flexbox */
    display: inherit;
    align-items: center;
}
.footer{
    /* Flexbox */
    flex-direction: column;
    justify-content: center;
}
.iconos > i{
    font-size: 30px;
    margin: 5px;
}